.bgSizeCover {
  background-image: url(https://i.ibb.co/TWvwJLw/letter.png);
  background-size: cover;
  width: 1280px;
  height: auto;
  border: 0px;
  resize: both;
  transform: scale(1.00);
  overflow-x: hidden;  
  overflow-y: hidden;  
}
