.bgSizeCover {
    background-image: url(https://github.com/daniel-carvalho-agile/daniel-carvalho-agile/blob/main/letter.png);
    background-size: cover;
    width: 160px;
    height: 160px;
    border: 2px solid;
    resize: both;
    overflow: scroll;
  }
